In [86]:
%config IPCompleter.greedy=True

In [87]:
#Dependencies and Setup
import pandas as pd
import numpy as np

In [88]:
#File to Load
csv_file = 'Resources/HeroesOfPymoli.csv'

#Use Pandas to read in csv file 
heroes_df = pd.read_csv(csv_file, encoding="UTF-8")

In [89]:
total_players = len(heroes_df["SN"].value_counts())

In [90]:
#PLAYER COUNT: Total # of Players:
# Find Number of Total Players and display as a DataFrame

total_players_dict = [{"Total Players": total_players}]

#Create DataFrame from Dictionary
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576

In [91]:
#PURCHASING ANALYSIS (TOTAL):
#Unique Items
unique_df = heroes_df['Item ID'].unique()

unique_count = 0
for value in unique_df:
    unique_count = unique_count + 1

In [92]:
#Average Price
average_price = heroes_df["Price"].mean()

In [93]:
#Number of Purchases
purchases = heroes_df['Purchase ID'].count()

In [94]:
#Total Revenue
total_revenue = heroes_df['Price'].sum()

In [96]:
#Purchasing Analysis DataFrame
purchasings_analysis_df = pd.DataFrame([[unique_count, average_price, purchases, total_revenue]], columns=['Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])
purchasings_analysis_df 

purchasings_analysis_df.style.format({"Average Price":"${:,.2f}","Total Revenue":"${:,.2f}"})

In [97]:
#GENDER DEMOGRAPHICS
#Count and Percentage of Female/Male Players

count_gender_df = heroes_df["Gender"].value_counts()
percent_gender_df = (heroes_df['Gender'].value_counts()/heroes_df['Gender'].count())*100

gender_analysis_df = pd.DataFrame()
gender_analysis_df['Total Count'],gender_analysis_df['Percentage'] = [count_gender_df,percent_gender_df]


gender_analysis_df
#gender_analysis_df.style.format({"Percentage":"%"})

                       Total Count  Percentage
Male                           652   83.589744
Female                         113   14.487179
Other / Non-Disclosed           15    1.923077

In [98]:
#Purchasing Analysis by Gender
male_purchase_df = pd.DataFrame
male_purchase_df = heroes_df.loc[heroes_df['Gender'] == "Male"]
male_purchase_count = male_purchase_df['Purchase ID'].count()
male_purchase_avg = male_purchase_df['Price'].mean()

In [99]:
female_purchase_df = pd.DataFrame
female_purchase_df = heroes_df.loc[heroes_df['Gender'] == "Female"]
female_purchase_count = female_purchase_df['Purchase ID'].count()
female_purchase_avg = female_purchase_df['Price'].mean()

In [100]:
other_purchase_df = pd.DataFrame
other_purchase_df = heroes_df.loc[heroes_df['Gender'] == "Other / Non-Disclosed"]
other_purchase_count = other_purchase_df['Purchase ID'].count()
other_purchase_avg = other_purchase_df['Price'].mean()

In [101]:
grouped_df = heroes_df.groupby(["Gender","SN"], as_index=False)['Price'].sum()

male_avgtotal_per_person = grouped_df[grouped_df['Gender']=='Male']['Price'].mean()
female_avgtotal_per_person = grouped_df[grouped_df['Gender']=='Female']['Price'].mean()
other_avgtotal_per_person = grouped_df[grouped_df['Gender']=="Other / Non-Disclosed"]['Price'].mean()

In [102]:
male_total_value = grouped_df[grouped_df["Gender"]=="Male"]["Price"].sum()
female_total_value = grouped_df[grouped_df["Gender"]=="Female"]["Price"].sum()
other_total_value = grouped_df[grouped_df["Gender"]=="Other / Non-Disclosed"]["Price"].sum()

In [105]:
#Purchasing Analysis by Gender DataFrame
purchase_analysis_gender = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                   "Purchase Count":[male_purchase_count,female_purchase_count,other_purchase_count],
                   "Average Purchase Price":[male_purchase_avg,female_purchase_avg,other_purchase_avg],
                   "Total Purchase Value":[male_total_value,female_total_value,other_total_value],
                   "Avg Total Purchase per Person":[male_avgtotal_per_person,female_avgtotal_per_person,other_avgtotal_per_person]})

purchase_analysis_gender.set_index('Gender')

purchase_analysis_gender.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Avg Total Purchase per Person":"${:,.2f}"})

In [106]:
#Age Demographics
#Create bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Add bins to dataframe
heroes_df["Age Group"] = pd.cut(heroes_df["Age"], age_bins, labels=labels, include_lowest=True)
heroes_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [107]:
#group dataframe by ages into a series
grouped_age = heroes_df.groupby("Age Group")
grouped_age.max()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Group,,,,,,,
<10,778,Tyeurith29,9,Male,179,"Wolf, Promise of the Moonwalker",4.93
10-14,774,Zhisrisu83,14,Male,164,Wolf,4.94
15-19,771,Yoishirrala98,19,Other / Non-Disclosed,183,Yearning Mageblade,4.91
20-24,779,Zontibe81,24,Other / Non-Disclosed,183,Yearning Mageblade,4.99
25-29,772,Yasur35,29,Other / Non-Disclosed,183,Worldbreaker,4.94
30-34,770,Yarolwen77,34,Male,178,Yearning Mageblade,4.93
35-39,768,Tyaerith73,39,Other / Non-Disclosed,179,"Wolf, Promise of the Moonwalker",4.91
40+,761,Salilis27,45,Male,173,Victor Iron Spikes,4.93

In [108]:
#Find Total Count of Purchases for each age group
purchases_by_age = grouped_age["SN"].nunique()

In [109]:
#Find Percentage of purchases by age group
percentage_purchases_by_age = (purchases_by_age/total_players)*100

In [110]:
#Dataframe of Age Information
age_demographics_df = pd.DataFrame({"Total Count":purchases_by_age, "Percentages": percentage_purchases_by_age})
age_demographics_df

           Total Count  Percentages
Age Group
<10                 17     2.951389
10-14               22     3.819444
15-19              107    18.576389
20-24              258    44.791667
25-29               77    13.368056
30-34               52     9.027778
35-39               31     5.381944
40+                 12     2.083333

In [111]:
#Purchase Count by age
age_purchase_count = grouped_age["SN"].count()

In [112]:
#Average Purchase Price by age
avg_age_purchase = grouped_age["Price"].mean()

In [113]:
#Total Purchase Value by age
total_age_purchase = grouped_age["Price"].sum()

In [114]:
#Average Total Purchase per Person by age
avg_total_per_person_age = total_age_purchase/purchases_by_age

In [115]:
age_info = pd.DataFrame({"Purchase Count":age_purchase_count, "Avg. Purchase Price": avg_age_purchase,
                                     "Total Purchase Value":total_age_purchase, "Avg. per Person": avg_total_per_person_age})

#Format DataFrame
age_info.style.format({"Avg. Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}", "Avg. per Person":"${:,.2f}"})

In [117]:
#Group data by SN
spenders = heroes_df.groupby("SN")

#Find the total purchase of each user by screen name
purchase_count_by_sn = spenders["Purchase ID"].count()

#Average Purchase Price for each user (unique SN)
avg_purchase_price_sn = spenders["Price"].mean()

#Total Purchase Price for each user (unique SN)
total_purchase_price_sn = spenders["Price"].sum()

#Top Spenders Dataframe
top_spenders = pd.DataFrame({"Purchase Count":purchase_count_by_sn, "Avg. Purchase Price": avg_purchase_price_sn,
                                     "Total Purchase Value":total_purchase_price_sn})

#Sort Dataframe to show TOP 5 spenders
top_5 = top_spenders.sort_values(["Total Purchase Value"], ascending = False).head()

#Format Data Frame
top_5.style.format({"Purchase Count":"${:,.2f}","Avg. Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

In [118]:
#Item Analysis
items_df = pd.DataFrame()
items_df = heroes_df[["Item ID", "Item Name", "Price", "Purchase ID"]]

In [119]:
#Group by Item Name and Item ID
item_info = items_df.groupby(["Item Name", "Item ID"])

In [120]:
#Purchase Count for each item
purchase_count_by_item = item_info["Purchase ID"].count()

In [121]:
#Total Purchase Value for each Item
item_total_purchase_value = item_info["Price"].sum()

In [122]:
#Item price for each individual item
indv_item_price = item_total_purchase_value/purchase_count_by_item

In [123]:
#Create Dataframe for popular items
popular_items = pd.DataFrame({"Purchase Count": purchase_count_by_item,"Item Price": indv_item_price,"Total Purchase Value":item_total_purchase_value})


#Sort DataFrame to show Top 5 
popular_items_top5 = popular_items.sort_values(["Purchase Count"], ascending=False).head()


#Format Dataframe
popular_items_top5.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

In [127]:
#Most Profitable Items
popular_items_top5.sort_values(["Total Purchase Value"],ascending=False).head()

popular_items_top5.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})