In [2]:
%config IPCompleter.greedy=True

In [3]:
#Dependencies and Setup
import pandas as pd

In [4]:
#File to Load
csv_file = 'Resources/HeroesOfPymoli.csv'

#Use Pandas to read in csv file 
heroes_df = pd.read_csv(csv_file, encoding="UTF-8")

heroes_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [5]:
heroes_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [6]:
heroes_df['SN'].count()

780

In [32]:
#PLAYER COUNT: Total # of Players:
# Find Number of Total Players and display as a DataFrame - Set variable and then create DataFrame via Dictionary
total_players = heroes_df['SN'].count()

total_players_dict = [{"Total Players": total_players}]

#Create DataFrame from Dictionary
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            780

In [55]:
#PURCHASING ANALYSIS (TOTAL):
#Unique Items
unique_heroes = heroes_df['Item ID'].unique()

unique_heroes

array([108, 143,  92, 100, 131,  81, 169, 162,  21, 136,  95, 116,   4,
       165,  98,  40, 161,  82,  89,  57, 168,  24, 151, 132, 178,  71,
        96, 119,  37, 140, 179, 133,  44, 160,  53,  76,  73, 172,   7,
        72,   9, 181, 102, 170, 138, 110,  22,  15,  60, 176,  25,  84,
        80, 152, 105, 125,  56,  34,   6,  27,  29,  68, 124,  88,  20,
        50, 174,  12,  33, 129,  17,  59,  39, 164, 134, 109,  10,  54,
        99,  85, 139,  41, 150,  13, 117,  78,  87,   1,  62,  75,  58,
        74, 120, 145,   0,   2, 146, 158,   8, 175,  46, 148, 111,   3,
        65, 183,  30, 157, 123,   5, 144, 103, 135,  51, 154,  32,  77,
        11,  63,  69, 113, 153, 114, 149, 159, 137, 142,  66,  97, 163,
       107,  16,  42,  19,  83,  28,  94, 182,  70,  18, 166, 173, 167,
       155, 128, 156, 147,  35, 171,  52, 106,  38,  91, 118,  67,  45,
        49, 121,  79,  14,  43,  31,  64,  86,  93,  26, 122,  61,  48,
       112, 126, 115,  55, 127,  47, 130,  90, 177, 104], dtype=int64)

In [40]:
#Average Price
average_price = heroes_df["Price"].mean()
average_price

3.0509871794871795

In [41]:
#Number of Purchases
purchases = heroes_df['Purchase ID'].count()
purchases

780

In [42]:
#Total Revenue
total_revenue = heroes_df['Price'].sum()
total_revenue

2379.77

In [54]:
#Purchasing Analysis DataFrame
purchasings_analysis_df = pd.DataFrame([[unique_items, average_price, purchases, total_revenue]], columns=['Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])

purchasings_analysis_df

  Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0  0    179
dtype: int64       3.050987                  780        2379.77