In [77]:
%config IPCompleter.greedy=True

In [78]:
#Dependencies and Setup
import pandas as pd
import numpy as np

In [79]:
#File to Load
csv_file = 'Resources/HeroesOfPymoli.csv'

#Use Pandas to read in csv file 
heroes_df = pd.read_csv(csv_file, encoding="UTF-8")

In [80]:
heroes_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [81]:
heroes_df['SN'].count()

780

In [82]:
#PLAYER COUNT: Total # of Players:
# Find Number of Total Players and display as a DataFrame - Set variable and then create DataFrame via Dictionary
total_players = heroes_df['SN'].count()

total_players_dict = [{"Total Players": total_players}]

#Create DataFrame from Dictionary
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            780

In [83]:
#PURCHASING ANALYSIS (TOTAL):
#Unique Items
unique_df = heroes_df['Item ID'].unique()


unique_count = 0
for value in unique_df:
    unique_count = unique_count + 1 
    
unique_count

179

In [84]:
#Average Price
average_price = heroes_df["Price"].mean()

In [85]:
#Number of Purchases
purchases = heroes_df['Purchase ID'].count()

In [86]:
#Total Revenue
total_revenue = heroes_df['Price'].sum()

In [87]:
#Purchasing Analysis DataFrame
purchasings_analysis_df = pd.DataFrame([[unique_count, average_price, purchases, total_revenue]], columns=['Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])
purchasings_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [88]:
#GENDER DEMOGRAPHICS
#Count and Percentage of Female/Male Players

count_gender_df = heroes_df["Gender"].value_counts()

percent_gender_df = (heroes_df['Gender'].value_counts()/heroes_df['Gender'].count())*100

gender_analysis_df = pd.DataFrame()
gender_analysis_df['Total Count'],gender_analysis_df['Percentage'] = [count_gender_df,percent_gender_df]

In [89]:
#Purchasing Analysis by Gender
male_purchase_df = pd.DataFrame
male_purchase_df = heroes_df.loc[heroes_df['Gender'] == "Male"]
male_purchase_count = male_purchase_df['Purchase ID'].count()
male_purchase_avg = male_purchase_df['Price'].mean()

In [90]:
female_purchase_df = pd.DataFrame
female_purchase_df = heroes_df.loc[heroes_df['Gender'] == "Female"]
female_purchase_count = female_purchase_df['Purchase ID'].count()
female_purchase_avg = female_purchase_df['Price'].mean()

In [91]:
other_purchase_df = pd.DataFrame
other_purchase_df = heroes_df.loc[heroes_df['Gender'] == "Other / Non-Disclosed"]
other_purchase_count = other_purchase_df['Purchase ID'].count()
other_purchase_avg = other_purchase_df['Price'].mean()

In [92]:
grouped_df = heroes_df.groupby(["Gender","SN"], as_index=False)['Price'].sum()

male_avgtotal_per_person = grouped_df[grouped_df['Gender']=='Male']['Price'].mean()
female_avgtotal_per_person = grouped_df[grouped_df['Gender']=='Female']['Price'].mean()
other_avgtotal_per_person = grouped_df[grouped_df['Gender']=="Other / Non-Disclosed"]['Price'].mean()

In [93]:
male_total_value = grouped_df[grouped_df["Gender"]=="Male"]["Price"].sum()
female_total_value = grouped_df[grouped_df["Gender"]=="Female"]["Price"].sum()
other_total_value = grouped_df[grouped_df["Gender"]=="Other / Non-Disclosed"]["Price"].sum()

In [94]:
#Purchasing Analysis by Gender DataFrame
purchase_analysis_gender = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                   "Purchase Count":[male_purchase_count,female_purchase_count,other_purchase_count],
                   "Average Purchase Price":[male_purchase_avg,female_purchase_avg,other_purchase_avg],
                   "Total Purchase Value":[male_total_value,female_total_value,other_total_value],
                   "Avg Total Purchase per Person":[male_avg_total_per_person,female_avg_total_per_person,other_avgtotal_per_person]})

purchase_analysis_gender.set_index('Gender')

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727