In [184]:
%config IPCompleter.greedy=True

In [185]:
#Dependencies and Setup
import pandas as pd
import numpy as np

In [186]:
#File to Load
csv_file = 'Resources/HeroesOfPymoli.csv'

#Use Pandas to read in csv file 
heroes_df = pd.read_csv(csv_file, encoding="UTF-8")

In [187]:
total_players = len(heroes_df["SN"].value_counts())

In [188]:
#PLAYER COUNT: Total # of Players:
# Find Number of Total Players and display as a DataFrame

total_players_dict = [{"Total Players": total_players}]

#Create DataFrame from Dictionary
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576

In [189]:
#PURCHASING ANALYSIS (TOTAL):
#Unique Items
unique_df = heroes_df['Item ID'].unique()

unique_count = 0
for value in unique_df:
    unique_count = unique_count + 1

In [190]:
#Average Price
average_price = heroes_df["Price"].mean()

In [191]:
#Number of Purchases
purchases = heroes_df['Purchase ID'].count()

In [192]:
#Total Revenue
total_revenue = heroes_df['Price'].sum()

In [193]:
#Purchasing Analysis DataFrame
purchasings_analysis_df = pd.DataFrame([[unique_count, average_price, purchases, total_revenue]], columns=['Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])
purchasings_analysis_df 

purchasings_analysis_df.style.format({"Average Price":"${:,.2f}","Total Revenue":"${:,.2f}"})

In [194]:
#GENDER DEMOGRAPHICS
#Count and Percentage of Female/Male Players

count_gender_df = heroes_df["Gender"].value_counts()
percent_gender_df = (heroes_df['Gender'].value_counts()/heroes_df['Gender'].count())*100

gender_analysis_df = pd.DataFrame()
gender_analysis_df['Total Count'],gender_analysis_df['Percentage'] = [count_gender_df,percent_gender_df]


gender_analysis_df
#gender_analysis_df.style.format({"Percentage":"%"})

                       Total Count  Percentage
Male                           652   83.589744
Female                         113   14.487179
Other / Non-Disclosed           15    1.923077

In [195]:
#Purchasing Analysis by Gender
male_purchase_df = pd.DataFrame
male_purchase_df = heroes_df.loc[heroes_df['Gender'] == "Male"]
male_purchase_count = male_purchase_df['Purchase ID'].count()
male_purchase_avg = male_purchase_df['Price'].mean()

In [196]:
female_purchase_df = pd.DataFrame
female_purchase_df = heroes_df.loc[heroes_df['Gender'] == "Female"]
female_purchase_count = female_purchase_df['Purchase ID'].count()
female_purchase_avg = female_purchase_df['Price'].mean()

In [197]:
other_purchase_df = pd.DataFrame
other_purchase_df = heroes_df.loc[heroes_df['Gender'] == "Other / Non-Disclosed"]
other_purchase_count = other_purchase_df['Purchase ID'].count()
other_purchase_avg = other_purchase_df['Price'].mean()

In [198]:
grouped_df = heroes_df.groupby(["Gender","SN"], as_index=False)['Price'].sum()

male_avgtotal_per_person = grouped_df[grouped_df['Gender']=='Male']['Price'].mean()
female_avgtotal_per_person = grouped_df[grouped_df['Gender']=='Female']['Price'].mean()
other_avgtotal_per_person = grouped_df[grouped_df['Gender']=="Other / Non-Disclosed"]['Price'].mean()

In [199]:
male_total_value = grouped_df[grouped_df["Gender"]=="Male"]["Price"].sum()
female_total_value = grouped_df[grouped_df["Gender"]=="Female"]["Price"].sum()
other_total_value = grouped_df[grouped_df["Gender"]=="Other / Non-Disclosed"]["Price"].sum()

In [200]:
#Purchasing Analysis by Gender DataFrame
purchase_analysis_gender = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                   "Purchase Count":[male_purchase_count,female_purchase_count,other_purchase_count],
                   "Average Purchase Price":[male_purchase_avg,female_purchase_avg,other_purchase_avg],
                   "Total Purchase Value":[male_total_value,female_total_value,other_total_value],
                   "Avg Total Purchase per Person":[male_avgtotal_per_person,female_avgtotal_per_person,other_avgtotal_per_person]})

purchase_analysis_gender.set_index('Gender')

purchase_analysis_gender.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Avg Total Purchase per Person":"${:,.2f}"})

In [201]:
#Age Demographics
#Create bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Add bins to dataframe
heroes_df["Age Group"] = pd.cut(heroes_df["Age"], age_bins, labels=labels, include_lowest=True)

In [202]:
#group dataframe by ages into a series
grouped_age = heroes_df.groupby("Age Group")

In [203]:
#Find Total Count of Purchases for each age group
purchases_by_age = grouped_age["SN"].nunique()

In [204]:
#Find Percentage of purchases by age group
percentage_purchases_by_age = (purchases_by_age/total_players)*100

In [205]:
#Dataframe of Age Information
age_demographics_df = pd.DataFrame({"Total Count":purchases_by_age, "Percentages": percentage_purchases_by_age})
age_demographics_df

           Total Count  Percentages
Age Group
<10                 17     2.951389
10-14               22     3.819444
15-19              107    18.576389
20-24              258    44.791667
25-29               77    13.368056
30-34               52     9.027778
35-39               31     5.381944
40+                 12     2.083333

In [206]:
#Purchase Count by age
age_purchase_count = grouped_age["SN"].count()

In [207]:
#Average Purchase Price by age
avg_age_purchase = grouped_age["Price"].mean()

In [208]:
#Total Purchase Value by age
total_age_purchase = grouped_age["Price"].sum()

In [209]:
#Average Total Purchase per Person by age
avg_total_per_person_age = total_age_purchase/purchases_by_age

In [210]:
age_info = pd.DataFrame({"Purchase Count":age_purchase_count, "Avg. Purchase Price": avg_age_purchase,
                                     "Total Purchase Value":total_age_purchase, "Avg. per Person": avg_total_per_person_age})

#Format DataFrame
age_info.style.format({"Avg. Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}", "Avg. per Person":"${:,.2f}"})

In [211]:
#Group data by SN
spenders = heroes_df.groupby("SN")

#Find the total purchase of each user by screen name
purchase_count_by_sn = spenders["Purchase ID"].count()

#Average Purchase Price for each user (unique SN)
avg_purchase_price_sn = spenders["Price"].mean()

#Total Purchase Price for each user (unique SN)
total_purchase_price_sn = spenders["Price"].sum()

#Top Spenders Dataframe
top_spenders = pd.DataFrame({"Purchase Count":purchase_count_by_sn, "Avg. Purchase Price": avg_purchase_price_sn,
                                     "Total Purchase Value":total_purchase_price_sn})

#Sort Dataframe to show TOP 5 spenders
top_5 = top_spenders.sort_values(["Total Purchase Value"], ascending = False).head()

#Format Data Frame
top_5.style.format({"Avg. Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

In [212]:
#Item Analysis
items_df = pd.DataFrame()
items_df = heroes_df[["Item ID", "Item Name", "Price", "Purchase ID"]]

In [213]:
#Group by Item Name and Item ID
item_info = items_df.groupby(["Item Name", "Item ID"])

In [214]:
#Purchase Count for each item
purchase_count_by_item = item_info["Purchase ID"].count()

In [215]:
#Total Purchase Value for each Item
item_total_purchase_value = item_info["Price"].sum()

In [216]:
#Item price for each individual item
indv_item_price = item_total_purchase_value/purchase_count_by_item

In [217]:
#Create Dataframe for popular items
popular_items = pd.DataFrame({"Purchase Count": purchase_count_by_item,"Item Price": indv_item_price,"Total Purchase Value":item_total_purchase_value})

#Sort DataFrame to show Top 5 
popular_items_top5 = popular_items.sort_values(["Purchase Count"], ascending=False).head()

#Format Dataframe
popular_items_top5.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

In [218]:
#Most Profitable Items
popular_items_top5.sort_values(["Total Purchase Value"],ascending=False).head()

popular_items_top5.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})